on:
    issues:
        types: [opened]

jobs:
    trigger-staging:
        runs-on: ubuntu-latest
        steps:
            - name: Trigger workflow on staging
              uses: peter-evans/repository-dispatch@v4
              with:
                repository: ${{ github.repository }}
                event-type: run-on-staging
